@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}
body {
  background-color: #faf8f1;
}
a {
  cursor: pointer;
  color: inherit;
}
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.forum-regular {
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
}
.container {
  width: 1140px;
  max-width: 95%;
  margin: 0 auto;
}
.jsb_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
